h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuContainer{
    background-color: #152132;
    height: 700px;
    width:300px;
    border-radius: 5px;

}

.menuHeader{
    width: 90%;
    height: 50px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.profileContainer{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 10px;
}

.menuOptions{
    width: 100%;
    height: 400px;
}

.menuItem{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.menuItem:hover{
    background-color: #2B3545;
}

.menuItem img{
    margin-right: 16px;
    padding-left: 6px;
}
